<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>
    <meta charset="UTF-8"/>
    <title>Jokes</title>
</head>
<body>

<div>

        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <h4 class="card-title">Chuck Norris Joke!</h4>
               <p th:text="${joke}">Insert Joke Here!!! </p>
                <a class="btn btn-outline-primary" href="#">Read More</a>
            </div>
        </div>
</div>



</body>
</html>

