#main-header img {
  width: 100%;
  height: 100%;
}

.nav-link {
	 color: #fff;
}
#main-header .port-item {
  width: 25%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#show-recipe {
  background: url(../img/food_big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#show-recipe .dark-overlay, #recipe-form-page .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#recipe-form-page {
  background: url(../img/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#show-recipe .home-inner, #recipe-form-page .home-inner {
  padding-top: 150px;
}